.git
.github
.azure
.venv
venv
env
__pycache__
*.pyc
.ipynb_checkpoints

Dokumentasi tahap 2
notebooks
logs
mlruns
wandb
reports
OUTPUT_EDA

data/raw
data/satellite
data/ground_truth
data/weather

*.zip
*.tar.gz
*.rar
*.tmp
.DS_Store
Thumbs.db
